.tekstinfo .navds-heading:first-child,
.tekstinfo .navds-body-long + .navds-body-long:first-child {
    margin-top: 0;
}
.tekstinfo .navds-heading--medium .navds-body-short {
    display: block;
}
.tekstinfo .primo {
    margin: 0.5rem 0;
}
.tekstinfo .segundo {
    margin: 1.35rem 0 1.8rem;
}
.tekstinfo + .tekstinfo {
    margin-top: 1rem;
}
.tekstinfo .sykepengedager-forste-avsnitt {
    margin-top: 1rem;
}
.navds-accordion + .tekstinfo {
    margin-top: 2rem;
}
