.tekstinfo {
    margin-top: 2rem;

    .typo-undertittel, .typo-element, .typo-normal + .typo-normal {
        margin: 1.5rem 0 0.35rem;
    }

    .primo {
        margin: 0.5rem 0;
    }

    .segundo {
        margin: 1.35rem 0 0.5rem;

        & + .typo-normal {
            margin-bottom: 1.5rem;
        }
    }
}

.sykepenger_slutt .typo-normal {
    padding-left: 1rem;
}
