@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';

.tekstinfo {
    .navds-heading, .navds-body-long + .navds-body-long {
        &:first-child {
            margin-top: 0;
        }
    }

    .navds-heading--medium {
        .navds-body-short {
            display: block;
        }
    }

    .primo {
        margin: 0.5rem 0;
    }

    .segundo {
        margin: 1.35rem 0 1.8rem;
    }

    & + .tekstinfo {
        margin-top: 1rem;
    }

    .sykepengedager-forste-avsnitt {
        margin-top: 1rem;
    }
}

.navds-accordion {
    & + .tekstinfo {
        margin-top: 2rem;
    }
}
