@page {
    size: A4 portrait;
    margin: 1cm 0.3cm 0.5cm;
    padding-bottom: 1cm;
    @bottom-left {
        content: element(ark-footer);
    }
}
@page :first {
    margin-top: 0;
    @top-left {
        content: element(ark-header);
    }
}
#ark-header {
    background: #c2eaf7;
    padding: 0 0.7cm;
    margin: 8px;
}
#ark-header .title {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 130px;
}
#ark-header .navlogo {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-left: 3px;
    width: 48px;
}
#ark-footer {
    position: running(ark-footer);
    font-size: 12px;
    margin-top: -25px;
    padding-left: 0.6cm;
}
#ark-footer .sidetall {
    float: right;
}
#pagenumber:before {
    content: counter(page);
}
#pagecount:before {
    content: counter(pages);
}
.vedtak-arkivering .navds-accordion .navds-accordion__item--open.ekspanderbar > .navds-accordion__header {
    border-width: 0;
}
.vedtak-arkivering .personinfo {
    position: relative;
    top: 25px;
    left: 12px;
}
.vedtak-arkivering .navn {
    font-weight: bold;
    font-size: 16px;
    width: 350px;
}
.vedtak-arkivering .personikon {
    display: inline-block;
    width: 32px;
    margin: 0 8px -10px 3px;
}
.vedtak-arkivering .persontekst {
    display: inline-block;
    width: 667px;
}
.vedtak-arkivering .persontekst__sidetopp {
    display: block;
    margin-bottom: 32px;
}
.vedtak-arkivering .persontekst__personalia {
    display: inline-block;
}
.vedtak-arkivering .sendt {
    display: inline-block;
    float: right;
    width: 170px;
    font-size: 14px;
}
.vedtak-arkivering .navds-accordion .ekspanderbar .lenkerad {
    display: none;
}
.vedtak-arkivering .limit .velkommen img {
    display: none;
}
.vedtak-arkivering .ekspanderbar.info > .navds-accordion__header {
    min-height: 60px;
}
.vedtak-arkivering .ekspanderbar h3 span.navds-body-short {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.4;
}
.vedtak-arkivering .ekspanderbar .knapperad {
    display: none;
}
.vedtak-arkivering .ekspanderbar > .navds-accordion__header {
    min-height: 112px;
}
.vedtak-arkivering .ekspanderbar > .navds-accordion__header .ekspanderbar__tittel {
    color: #262626;
}
.vedtak-arkivering .ekspanderbar > .navds-accordion__header .ekspanderbar__tittel .navds-heading--large {
    font-size: 2.25rem;
}
.vedtak-arkivering
    .ekspanderbar
    > .navds-accordion__header
    .ekspanderbar__tittel
    .navds-heading--large
    .navds-body-short {
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.4;
}
.vedtak-arkivering .navds-accordion__header {
    min-height: 32px;
}
.vedtak-arkivering .navds-accordion__header svg {
    display: none;
}
.vedtak-arkivering .annullering .alert-link-listevisning {
    display: none;
}
.vedtak-arkivering .annullering svg {
    display: none;
}
.vedtak-arkivering .navds-label {
    font-weight: bold;
}
.vedtak-arkivering .navds-accordion__content .navds-heading--medium {
    font-size: 1rem;
}
.vedtak-arkivering .navds-accordion__content .navds-heading--medium .navds-body-short--small {
    font-size: 1rem;
    font-weight: normal;
}
.vedtak-arkivering .navds-tag {
    display: inline-block;
}
.vedtak-arkivering .navds-tag.navds-tag--small {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.875rem;
}
.vedtak-arkivering .navds-tag.navds-tag--info {
    background-color: #ebfcff;
    border-color: #368da8;
}
.vedtak-arkivering .navds-tag.navds-tag--success {
    background-color: #f3fcf5;
    border-color: #06893a;
    min-width: 60px;
}
.vedtak-arkivering .navds-tag.navds-tag--warning {
    background-color: #fff9f0;
    border-color: #d47b00;
}
.vedtak-arkivering .navds-tag.navds-tag--error {
    background-color: #ffe6e6;
    border-color: #c30000;
}
.vedtak-arkivering .inntekt__info .arbgiver_inntekt section {
    display: block;
}
.vedtak-arkivering .inntekt__info .arbgiver_inntekt section div {
    display: inline-block;
}
.vedtak-arkivering .inntekt__info .arbgiver_inntekt section div:first-child {
    width: 49%;
}
.vedtak-arkivering .inntekt__info .arbgiver_inntekt section div:last-child {
    width: 49%;
    text-align: right;
}
