@page {
    size: A4 portrait;
    margin: 1cm 0.3cm 0.5cm;
    padding-bottom: 1cm;

    @bottom-left {
        content: element(footer);
    }
}

@page :first {
    margin-top: 0;

    @top-left {
        content: element(header);
    }
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages)
}

.vedtak-arkivering {
    .chevronboks, .utvidbar .lenkerad {
        display: none;
    }
}
