

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages)
}

.vedtak-arkivering {

    .personinfo {
        position: relative;
        top: 25px;
    }

    .id {
        width: 430px;
        margin-bottom: 30px;
    }

    .personikon {
        display: inline-block;
        width: 32px;
        margin-right: 8px;
        margin-left: 3px;
    }

    .persontekst {
        display: inline-block;
        width: 667px;
    }


    .chevronboks, .utvidbar .lenkerad {
        display: none;
    }
}
