.panelWrapper {
    background: #ccf1d6;
    border-radius: 4px;
    margin: 1rem 0;
}
.panelWrapper:hover {
    border-color: #33aa5f;
}
.image {
    display: none;
}
.heading {
    display: flex;
    margin-bottom: 1rem;
}
.heading span {
    display: block;
}
.ugyldig {
    background-color: #f1f1f1;
}
.ugyldig:hover {
    border-color: #404040;
}

@media (min-width: 768px) {
    .content {
        padding: 0 4.4rem 1.5rem;
    }
    .image {
        display: block;
        margin: 0 1.28rem 0 0.28rem;
    }
}
