@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../../basic';

.vedtak_periode {
    border-bottom: 1px solid @a-gray-400;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
