.navds-table.tabell--dag {
    background-color: #ffffff;
}
.navds-table.tabell--dag th,
.navds-table.tabell--dag td {
    padding: 0.75rem;
}
.navds-table.tabell--dag th:nth-child(2),
.navds-table.tabell--dag td:nth-child(2) {
    text-align: right;
    padding-left: 4px;
    padding-right: 4px;
}
.navds-table.tabell--dag th:nth-child(3),
.navds-table.tabell--dag td:nth-child(3) {
    text-align: right;
}
.navds-table.tabell--dag th.kroner,
.navds-table.tabell--dag td.kroner {
    white-space: nowrap;
}
.navds-tag--info {
    background-color: #e6f1f8;
    border-color: #005077;
}
.navds-tag--success {
    background-color: #ccf1d6;
    border-color: #007c2e;
}
.navds-tag--warning {
    background-color: #ffeccc;
    border-color: #d47b00;
}
@media (min-width: 768px) {
    .navds-table.tabell--dag th,
    .navds-table.tabell--dag td {
        padding: 1rem;
    }
}
