@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.navds-table.tabell--dag {
    background-color: @navds-semantic-color-canvas-background-light;
    margin: 0.5rem 0;

    th, td {
        &:nth-child(2) {
            text-align: right;
        }

        &:nth-child(3) {
            text-align: right;
        }

        &.kroner {
            white-space: nowrap;
        }
    }
}

@media (min-width: @screen-sm) {
    .tabell.tabell--dag {
        th, td {
            padding: 1rem;
        }
    }
}
