.utbetaling__innhold {
    .tekstinfo {
        .tekstinfo__avsnitt {
            margin-top: 1rem;
        }

        .typo-element {
            margin: 1.2rem 0 0.2rem;
        }

        .tekstinfo__dobbel {
            margin-top: 2rem;
        }
    }

    .arbeidsgiver-info {
        margin-bottom: 2rem;

        .arbeidsgiver-info__tittel {
            margin-bottom: 0.5rem;
        }
    }
}
