.vedtak-side,
.vedtak-arkivering {
    --navds-guide-panel-color-border: rgba(255, 255, 255, 0);
    --navds-guide-panel-color-illustration-background: #99c3ff;
}
.vedtak-side .velkommen,
.vedtak-arkivering .velkommen {
    display: flex;
    align-items: flex-end;
    margin: 2rem 0;
}
.vedtak-side .velkommen img,
.vedtak-arkivering .velkommen img {
    display: block;
    width: 4rem;
    margin-right: 1rem;
}
.vedtak-side .velkommen .velkommen-innhold,
.vedtak-arkivering .velkommen .velkommen-innhold {
    padding: 1rem;
    margin: 0;
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 16px 16px 16px 0;
    box-shadow: 1px 2px 3px #e5e5e5;
}
.vedtak-side .velkommen .velkommen-innhold .navds-heading,
.vedtak-arkivering .velkommen .velkommen-innhold .navds-heading {
    margin-bottom: 0.5rem;
}
.vedtak-side .velkommen .velkommen-innhold .navds-body-long--small,
.vedtak-arkivering .velkommen .velkommen-innhold .navds-body-long--small {
    margin: 0;
}
.vedtak-side .tidligere__beslutning,
.vedtak-arkivering .tidligere__beslutning {
    margin: 3rem 0 1rem 0;
}
.vedtak-side .navds-guide-panel__content,
.vedtak-arkivering .navds-guide-panel__content {
    padding: 4rem 1rem 1.4rem;
    margin-bottom: 2rem;
    border: 2px solid #97e6ff;
    border-radius: 8px;
}
.vedtak-side .navds-guide-panel__content p,
.vedtak-arkivering .navds-guide-panel__content p {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .vedtak-side .navds-guide-panel__content {
        padding: 4rem 4rem 1rem;
    }
}
