@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../basic';

.vedtak-side {
    .velkommen {
        display: flex;
        align-items: flex-end;
        margin: 2rem 0;

        img {
            width: 4rem;
            margin-right: 1rem;
        }

        .velkommen-innhold {
            padding: 1rem;
            margin: 0;
            background-color: @navds-global-color-gray-50;
            border: 1px solid @navds-global-color-gray-100;
            border-radius: 16px 16px 16px 0;
            box-shadow: 1px 2px 3px @navds-global-color-gray-200;

            .navds-heading {
                margin-bottom: 0.5rem;
            }

            .navds-body-long--small {
                margin: 0;
            }
        }
    }

    .tidligere__beslutning {
        margin: 3rem 0 1rem 0;
    }

    .navds-guide-panel__content {
        padding: 4rem 1rem 1.4rem;
        margin-bottom: 2rem;
        border: 2px solid @navds-global-color-lightblue-300;
        border-radius: 8px;

        p {
            margin-bottom: 0;
        }
    }

    --navds-guide-panel-color-border: @navds-global-color-transparent;
    --navds-guide-panel-color-illustration-background: @navds-global-color-blue-200;
}

@media (min-width: @screen-sm) {
    .vedtak-side {
        .navds-guide-panel__content {
            padding: 4rem 4rem 1rem;
        }
    }
}
