.tidligere__beslutning {
    margin: 3rem 0 1rem 0;
}

.utvikling__tittel {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.nav-veilederpanel--kompakt.nav-veilederpanel--plakat {
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
