@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../../basic';

.utbetalingsoversikt {
    .tekstinfo {
        margin: 1rem;

        .navds-tag {
            margin: 0.7rem 0 0.35rem;
        }
    }

    .navds-accordion__content {
        background-color: @navds-semantic-color-canvas-background-light;
        border-bottom: 0.25rem solid @navds-semantic-color-canvas-background-light;
    }
}

@media (min-width: @screen-sm) {
    .utbetalingsoversikt .navds-accordion__content {
        border: 1px solid @navds-global-color-gray-400;
        border-radius: 4px;
    }
}
