@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.utbetalingsoversikt {
    .tekstinfo {
        margin: 1rem;

        .etikett {
            margin: 0.7rem 0 0.35rem;
        }
    }

    .ekspanderbartPanel__innhold {
        background-color: white;
    }
}

@media (min-width: @screen-sm) {
    .utbetalingsoversikt .ekspanderbartPanel__innhold {
        border: 1px solid @navGra40;
        border-radius: 4px;
    }
}
