@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.avvistedageroversikt {
    .ekspanderbartPanel__innhold {
        margin: 1rem 0 0;
        background-color: @white;
    }

    .tekstinfo {
        margin: 1rem;

        .etikett {
            margin: 0.7rem 0 0.35rem;
        }
    }

    .avvist-lovhjemmel {
        margin-top: 1em;
    }
}

@media (min-width: @screen-sm) {
    .avvistedageroversikt .ekspanderbartPanel__innhold {
        border: 1px solid @navGra40;
        border-radius: 4px;
    }
}
