@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../../basic';

.avvistedageroversikt {
    .navds-accordion__content {
        margin: 1rem 0 0;
        background-color: @navds-semantic-color-canvas-background-light;
    }

    .tekstinfo {
        margin: 1rem;

        .navds-tag {
            margin: 0.7rem 0 0.35rem;
        }
    }

    .avvist-lovhjemmel {
        margin-top: 1em;
    }
}

@media (min-width: @screen-sm) {
    .avvistedageroversikt .navds-accordion__content {
        background-color: @navds-global-color-white;
        border: 1px solid @navds-global-color-gray-400;
        border-radius: 4px;
    }
}
