@import '../../../../node_modules/@navikt/ds-tokens/dist/tokens';
@import '../../basic';

.avvistedageroversikt {
    .navds-accordion__content {
        padding: 0;
        background-color: @navds-global-color-white;
    }

    .tekstinfo {
        margin: 1rem;

        .navds-tag {
            margin: 0.7rem 0 0.35rem;
        }
    }

    .avvist-lovhjemmel {
        margin-top: 1em;
    }
}
