@import 'node_modules/nav-frontend-core/less/_variabler';

.inntekt__info {
    .inntekt__info__tittel {
        padding-bottom: 1rem;
    }

    .inntekt__info__linje {
        padding-bottom: 0.2rem;
        display: flex;
        width: 100%;

        .inntekt__info__uthevet {
            padding-bottom: 1rem;
        }

        :last-child {
            margin-left: auto;
        }

    }
}
