@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.vedtak-liste {
    .sidetopp__tittel {
        text-align: center;
        margin-bottom: 2rem;
    }

    .vedtak__sortering {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0 0;
        margin-bottom: -2rem;
        border-top: 1px solid @navds-global-color-gray-400;
    }

    .vedtak--uleste {
        .inngangspanel {
            border-color: @navds-global-color-orange-500;
            background-color: @navds-global-color-orange-50;

            &.inngangspanel--tomListe {
                background-color: @navds-semantic-color-canvas-background-light;
            }
        }

        &.vedtak--teasere {
            padding-bottom: 2.5rem;
        }
    }

    .arkiverte_vedtak {
        display: block;
        margin: 3rem 0 -3rem;
    }
}
