@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.inntekt__info {
    margin: 0.5rem 0 1rem;

    .inntekt__info__linje {
        padding-top: 0.5rem;
        display: flex;
        width: 100%;

        :last-child {
            margin-left: auto;
        }
    }

    .inntekt__info__redusert {
        font-size: 14px;
        font-style: italic;
    }
}
