@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.inntekt__info {

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            padding: 0.35rem 0 0.35rem 0;
            text-align: left;
        }

        td {
            padding: 0.35rem 1rem 0.35rem 0.25rem;
            text-align: right;
            white-space: nowrap;
        }
    }

    .flere-arbeidsgivere {
        .arbgivernavn {
            font-weight: normal;
            padding-left: 1.5rem;

            &:before {
                content: "•";
                font-size: 14px;
                margin-right: 5px;
            }
        }

        tr:last-child {
            th, td {
                padding-top: 1rem;
            }
        }
    }

    .redusert_sykepengegrunnlag {
        margin: 0.5rem 0 1rem;
        padding: 0.5rem 0.8rem;
        background-color: white;

        .img-rad {
            display: flex;
            margin: 0.5rem 0;
        }

        img {
            width: 24px;
            margin-right: 0.5rem;
        }

        th, td {
            padding: 0.7rem 0 0.35rem;
        }
    }
}
