* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #262626;
}
html,
body,
#app-root {
    height: 100%;
}
.pagewrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}
.app {
    min-height: 70vh;
}
.limit {
    position: relative;
    padding: 1rem 1rem 0;
}
.maincontent:focus {
    outline: 0;
}
.maincontent > .limit {
    background-color: #ffffff;
    padding-top: 1rem;
}
.lenkeknapp {
    background: none;
    border: 0;
    padding: 0;
}
.vekk {
    line-height: 0;
    color: transparent;
    font-size: 0;
    width: 0;
    height: 0;
}
a {
    color: #0067c5;
}
.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.navno-dekorator .login-knapp.knapp--standard {
    min-height: auto;
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
}
.navds-accordion__header {
    color: #262626;
}
.navds-accordion__header:focus {
    box-shadow: none;
    border-color: #b0b0b0;
}
@media (min-width: 768px) {
    .limit {
        width: 800px;
        margin: 0 auto;
        padding: 2rem 5rem 3.5rem;
    }
}
