.interne-header {
    .root {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 128px;
        height: 70px;
        color: white;
        background-color: #3e3832;
    }

    .titleWrapper {
        display: flex;
        align-items: center;
    }

}
