@import 'node_modules/nav-frontend-core/less/_variabler';
@import 'src/components/basic';

.ekspanderbar {
    overflow: hidden;
    padding: 0.6rem 0;
    margin: 0.5rem 0;

    .ekspanderbartPanel__hode:focus {
        box-shadow: none;
    }

    .ekspanderbar__ikon {
        display: none;
    }

    button {
        display: block;
        width: 100%;
        background: none;
        border: 0;

        .ekspanderbartPanel__flex-wrapper {
            display: flex;
            overflow: hidden;
            width: 100%;
        }

        .ekspanderbartPanel__tittel {
            display: inline-flex;
            color: @navBla;

            .ekspanderbar__tittel {
                .typo-systemtittel {
                    margin-bottom: 0.25rem;
                }
            }
        }

        .ekspanderbartPanel__indikator {
            color: @navBla;
        }
    }

    .ekspanderbartPanel__innhold {
        padding: 0 1rem 1.5rem;
        margin: 0.5rem 0;
    }

    .ekspanderbar__ikon {
        display: none;
        margin: auto 1.5rem auto 0.75rem;
        min-width: 40px;
        max-width: 36px;
    }

    &.bla {
        background-color: @navLysBlaLighten80;
    }

    &.gronn {
        background-color: @alternativLysGronn;
    }

    &.gul {
        background-color: @alternativLysOrange;
    }

    &.info {
        background-color: @alternativLysBla;
        padding: 0;

        button {
            .ekspanderbartPanel__tittel {
                color: @navMorkGra;
            }
        }

        &:hover {
            button {
                .ekspanderbartPanel__tittel {
                    color: @navBla;
                }
            }
        }
    }

    &.intern {
        display: inline-block;
        background-color: transparent;
        width: 100%;
        padding: 0;
        border: 0;

        &:hover {
            outline: none;
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }

        button {
            display: inline;
            padding: 0;
            background-color: transparent;
            border: 0;

            .ekspanderbartPanel__flex-wrapper {
                display: inline-flex;
                justify-content: flex-start;
            }

            .ekspanderbartPanel__indikator {
                margin-left: 0.5rem;
            }
        }

        .ekspanderbartPanel__innhold {
            padding: 0;
        }

        .ekspanderbar__innhold {
            padding: 0 0 2rem;

            .alertstripe__ikon {
                display: none;
            }
        }

        .lenkerad {
            padding-top: 1rem;
            text-align: center;

            .lenke {
                border: 0;
                padding: 0;
            }
        }
    }

    .tekstinfo__avsnitt {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        .typo-normal {
            margin: 0.35rem 0 0;
        }
    }

}

@media (min-width: @screen-sm) {
    .ekspanderbar {
        .ekspanderbar__toggle {
            padding: 1.5rem 1rem;

            &:hover {
                color: @navBla;
            }
        }

        .ekspanderbartPanel__hode {
            .ekspanderbar__tittel {
                color: @navMorkGra;
            }

            .ekspanderbartPanel__indikator {
                color: @navMorkGra;
            }

            &:hover {
                .ekspanderbartPanel__tittel {
                    text-decoration: none;
                }
                .ekspanderbar__tittel {
                    color: @navBla;
                }
            }

            .ekspanderbar__ikon {
                display: block;
            }
        }

        .ekspanderbartPanel__innhold {
            padding: 0 5.8rem 1.5rem;
        }

        &.apen {
            .ekspanderbar__ikon {
                display: block;
            }
        }
    }
}

@media print {
    .ekspanderbar {
        .ekspanderbar__toggle {
            border-bottom: 1px solid @navGra40;
            text-decoration: none;
        }
    }

    &.intern {
        .ekspanderbar__toggle {
            border: 0;
        }

        .ekspanderbar__innhold {
            .alertstripe__ikon {
                display: inline;
            }
        }
    }
}
