.navds-accordion.delayed--open > .ekspanderbar > .navds-accordion__header {
    border-width: 0;
}
.navds-accordion > .ekspanderbar {
    overflow: hidden;
    margin: 0.5rem 0 0;
    border-radius: 4px;
}
.navds-accordion > .ekspanderbar .ekspanderbar__tittel .navds-heading {
    color: #262626;
}
.navds-accordion > .ekspanderbar .ekspanderbar__tittel .navds-body-short {
    display: block;
    margin: 0.25rem 0 0;
    color: #262626;
}
.navds-accordion > .ekspanderbar .open-text {
    display: none;
}
.navds-accordion > .ekspanderbar > .navds-accordion__header {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 1.3rem 1rem 1.5rem;
    border-width: 3px;
    background: transparent;
}
.navds-accordion > .ekspanderbar > .navds-accordion__header:hover {
    text-decoration: none;
}
.navds-accordion > .ekspanderbar > .navds-accordion__header:hover .navds-heading,
.navds-accordion > .ekspanderbar > .navds-accordion__header:hover .navds-body-short,
.navds-accordion > .ekspanderbar > .navds-accordion__header:hover svg {
    color: #0067c5;
}
.navds-accordion > .ekspanderbar > .navds-accordion__header:focus {
    box-shadow: none;
}
.navds-accordion > .ekspanderbar > .navds-accordion__header svg {
    color: #262626;
}
.navds-accordion > .ekspanderbar .navds-accordion__header-content {
    display: flex;
    align-items: center;
    width: 100%;
}
.navds-accordion > .ekspanderbar .knapperad {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.navds-accordion > .ekspanderbar .ekspanderbar__innhold {
    padding: 0 1rem 1.5rem;
}
.navds-accordion > .ekspanderbar .ekspanderbar__ikon {
    display: none;
    margin: auto 1.5rem auto 0.75rem;
}
.navds-accordion > .ekspanderbar.gul {
    background: #ffeccc;
}
.navds-accordion > .ekspanderbar.gul > .navds-accordion__header:hover {
    border-color: #d47b00;
}
.navds-accordion > .ekspanderbar.bla {
    background: #e6f0ff;
}
.navds-accordion > .ekspanderbar.bla > .navds-accordion__header:hover {
    border-color: #3386e0;
}
.navds-accordion > .ekspanderbar.info {
    padding: 0;
}
.navds-accordion > .ekspanderbar.info .ekspanderbar__innhold {
    padding: 0 1rem 1.5rem;
}
.navds-accordion > .ekspanderbar.ugyldig {
    background-color: #f1f1f1;
}
.navds-accordion > .ekspanderbar.ugyldig > .navds-accordion__header:hover {
    border-color: #404040;
}
.navds-accordion > .ekspanderbar .tekstinfo__avsnitt {
    margin-top: 1rem;
}
.navds-accordion > .ekspanderbar .tekstinfo__avsnitt:first-child {
    margin-top: 0;
}
@media (min-width: 768px) {
    .navds-accordion > .ekspanderbar > .navds-accordion__header .ekspanderbar__ikon {
        display: block;
        margin: 0 1.28rem 0 0.28rem;
    }
    .navds-accordion > .ekspanderbar > .navds-accordion__header .ekspanderbar__tittel {
        width: 100%;
    }
    .navds-accordion > .ekspanderbar .open-text {
        display: inline;
    }
    .navds-accordion > .ekspanderbar .ekspanderbar__innhold {
        padding: 0 5.4rem 1.5rem;
    }
    .navds-accordion > .ekspanderbar.apen .ekspanderbar__ikon {
        display: block;
    }
}
@media print {
    .navds-accordion > .ekspanderbar.intern .ekspanderbar__innhold .alertstripe__ikon {
        display: inline;
    }
}
