@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.sidebanner {
    background-color: @navds-global-color-deepblue-50;
    padding: 1rem;

    .sidebanner__tittel {
        text-align: center;
        line-height: 1;
        margin-bottom: 0;
    }

    .subtittel {
        margin: 0.5rem 0 0;
        text-align: center;

        span {
            display: inline-block;
        }
    }
}
