@import '../../../node_modules/@navikt/ds-tokens/dist/tokens';

.sidebanner {
    border-bottom: 4px solid @navds-global-color-blue-300;
    padding: 0 1rem 1rem;

    .sidebanner__tittel {
        text-align: center;
        line-height: 1;
    }

    .subtittel {
        margin: 0.5rem 0 0;
        text-align: center;

        span {
            display: inline-block;
        }
    }
}
