.sidebanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 0;
    padding: 1rem;
}
.sidebanner .sidebanner__tittel {
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
}
.sidebanner .subtittel {
    margin: 0.5rem 0 0;
    text-align: center;
}
.sidebanner .subtittel span {
    display: inline-block;
}
@media (min-width: 768px) {
    .sidebanner {
        width: calc(800px - 10rem);
        padding-left: 0;
    }
    .sidebanner .sidebanner__ikon {
        display: inline;
        margin-right: 1.4rem;
    }
}
