name: workflow
on:
  workflow_dispatch:
  push:

jobs:
  felles-workflow:
    uses: navikt/flex-github-actions-workflows/.github/workflows/next-js.yml@main
    permissions:
      packages: read
      contents: read
      actions: read
      id-token: write
      security-events: write
    secrets: inherit
    with:
      base-path: syk/sykepenger

  arkivering-deploy:
    needs: felles-workflow
    if: always() && needs.felles-workflow.outputs.image
    uses: navikt/flex-github-actions-workflows/.github/workflows/nais-deploy-dev-og-prod.yml@main
    permissions:
      id-token: write
    with:
      image: ${{ needs.felles-workflow.outputs.image }}
      app: spinnsyn-arkivering
      nais-template: nais/arkivering/nais.yaml
      prod-vars: nais/arkivering/prod.yaml
      dev-vars: nais/arkivering/dev.yaml
    secrets: inherit

  interne-deploy:
    needs: felles-workflow
    if: always() && needs.felles-workflow.outputs.image
    uses: navikt/flex-github-actions-workflows/.github/workflows/nais-deploy-dev-og-prod.yml@main
    permissions:
      id-token: write
    with:
      image: ${{ needs.felles-workflow.outputs.image }}
      app: spinnsyn-interne
      nais-template: nais/interne/nais.yaml
      prod-vars: nais/interne/prod.yaml
      dev-vars: nais/interne/dev.yaml
    secrets: inherit
